nav {
  background-color: #dad7cd;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav a {
  font-size: 20px;
  background-color: #a3b18a;
  margin: 10px;
  padding: 10px;
}

div {
  display: inline-block;
  background-color: #dad7cd;
  padding: 5px;
  size: auto;
  margin: 10px;
}

#startpage-intro-pictures {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  align-items: center;
}

#projekt-bilder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#projekt-bilder h3 {
  color: #3a5a40;
  font-size: 32px;
  margin: 3px;
  font-family: "Amatic SC", cursive;
  text-align: center;
}

#projekt-bilder IMG {
  margin: 10px auto 20px;
  display: block;
}

#top-portfolio {
  align-self: center;
  display: flex;
  background-color: #a3b18a;
  justify-content: center;
}

#top-portfolio div {
  border-color: #588157;
  border-style: double;
  border-width: 5px;
}
.github-link {
  font-weight: bold;
}
.github-link:hover {
  color: #a3b18a;
}

.title {
  color: #3a5a40;
  font-size: 82px;
  font-family: "Amatic SC", cursive;
  margin: 3px;
  font-variant: small-caps;
}

p {
  color: #344e41;
}

footer p {
  color: black;
  margin-left: 10px;
}

footer {
  background-color: #dad7cd;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

hr {
  border: none;
  height: 5px;
  background-color: #a3b18a;
}

a {
  text-decoration: none;
  color: #588157;
}

a:hover {
  color: #3a5a40;
}

.text-center {
  text-align: center;
}

body {
  margin-left: 0px;
  margin-right: 0px;
}
